.container-fluid {
  background-color: red;
  box-shadow: 0 1px 6px rgb(37 38 41 / 28%);
  border-color: rgb(54 58 65 / 0%);
  border-bottom: 2px solid #335933;
}

img{
  width: 80px;
  padding: 4px;
}
